[project]
	description = My experimental repo
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/AndrewDodds
[access "refs/for/refs/*"]
	read = group user/AndrewDodds
	push = group user/AndrewDodds
	label-Code-Review = -2..+2 group user/AndrewDodds
	label-Verified = -1..+1 group user/AndrewDodds
	rebase = group user/AndrewDodds
	removeReviewer = group user/AndrewDodds
	submit = group user/AndrewDodds
[access "refs/heads/*"]
	read = group user/AndrewDodds
	create = group user/AndrewDodds
	push = +force group user/AndrewDodds
	pushMerge = group user/AndrewDodds
[access "refs/tags/*"]
	push = group user/AndrewDodds
	push = +force group user/AndrewDodds
